<html>

<head>
    <title>{{.String.Title}}</title>
    <meta charset="UTF-8"></meta>
    {{ if .Bool.EnableFont }}<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">{{ end }}
    <style>
        * {
            font-family: 'Roboto', sans-serif;
            font-size: 1.05rem;
        }

        p.align-left {
            text-align: left;
        }

        p.align-center {
            text-align: center;
        }

        p.align-right {
            text-align: right;
        }

        {{/*
            //Titles:
            //H1: Indent Title
            //H3: Indent Subtitle
            //H2: Title
            //H4: Subtitle
        */}}
        h1 {font-size: 3.5rem; text-align: center;}
        h2 {font-size: 2.5rem;}
        h3 {font-size: 1.5rem; text-align: center;}
        h4 {font-size: 1rem;}

        blockquote {
            border-left: 4px solid #000000;
            padding-left: 10px;
            margin: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
		pre.hl-chroma *, div.hl-chroma * {
			font-family: monospace;
			font-size: 13px;
			line-height: 15px;
		}

        {{ .String.InlineCSS }}
    </style>
    {{ if .String.CustomCSS }}
        <link rel="stylesheet" href="{{.String.CustomCSS}}">
    {{ end }}

    {{ if .Bool.EnableJS }}
    {{ end }}
    {{.String._Head}}
</head>

<body>
    {{.Body}}
</body>

</html>