<html>

<head>
    <title>{{.Options.String.Title}}</title>
    <meta charset="UTF-8"></meta>
    {{ if .Options.Bool.EnableFont }}<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">{{ end }}
    <style>
        p.align-left {
            text-align: left;
        }

        p.align-center {
            text-align: center;
        }

        p.align-right {
            text-align: right;
        }

        pre code{
            background-color: #DDDDDD;
            display: block;
            padding: 0.5rem;
            padding-right: 1rem;
            width: fit-content;
        }

        {{/*
            //Titles:
            //H1: Indent Title
            //H3: Indent Subtitle
            //H2: Title
            //H4: Subtitle
        */}}
        h1 {font-size: 3.5rem; text-align: center;}
        h2 {font-size: 2.5rem;}
        h3 {font-size: 1.5rem; text-align: center;}
        h4 {font-size: 1rem;}
        * {
            font-family: 'Roboto', sans-serif;
            font-size: 1.05rem;
        }
        {{ .Options.String.InlineCSS }}

    </style>
    {{ if .Options.String.CustomCSS }}
        <link rel="stylesheet" href="{{.Options.String.CustomCSS}}">
    {{ end }}

    {{ if .Options.Bool.EnableJS }}
        <!--Code Highlight-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    {{ end }}
</head>

<body>
    {{.Body}}
</body>

</html>